
/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oleo+Script&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}


/* Header */ 
header {
    background-color: black;
    padding: 0 6rem;
    position: fixed;
    width: 100%;
    z-index: 98;
    box-shadow: 0 4px 4px black;
    
}

header a {
    text-decoration: none;
}

h1 {font-family: 'Oleo Script', sans-serif;
    color: #fafafa;
    letter-spacing: 1px;

}

/* Main content */
main { 
    background-color: greenyellow;
    /* Make main element take up surplus space to push the footer */
    flex: 1 0 auto;
}


  /* Footer */
footer { 
    background-color: aqua;
}